:root {
  --color-primary: #991120;
  --color-primary-light: #bd153b;
  --color-primary-dark: #55091b;
  --color-secondary: #333;
  --color-secondary-dark: #000;
  --color-accent: #8fcc3a;
  --color-accent-dark: #6f9f2d;
  --color-lg: #f2f2f2;
  --color-lg-lighter: #fafafa;
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: omnes-pro, sans-serif;
  --transition-primary: .25s cubic-bezier(.75, 0, .25, 1);
  --transition-quick: .1s cubic-bezier(.75, 0, .25, 1);
  --shadow-primary: 0 3px 6px rgba(0, 0, 0, .15);
}

::selection {
  background-color: var(--color-primary);
  color: #fff;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6, .font-alt {
  font-family: var(--font-secondary);
}

h1,
strong {
  color: var(--color-primary);
}

.hero h1,
.footer strong {
  color: #fff;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition:
    background-color var(--transition-primary),
    border-color var(--transition-primary),
    color var(--transition-primary);
}

p a,
.hyperlink {
  text-decoration: underline;
}

a:hover,
a:focus,
p a:hover,
p a:focus,
.hyperlink:hover,
.hyperlink:focus {
  color: var(--color-primary-light);
}

hr {
  border-color: var(--color-primary);
}

address {
  font-style: normal;
}

.no-wrap {
  white-space: nowrap;
}

.wrap-pre {
  white-space: pre;
}

.form-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 45em;
  width: 100%;
}

fieldset {
  border: none;
  padding: 0;
}

fieldset .additional-info {
  font-weight: normal;
  color: #777;
}

input.dollar-input {
  padding-left: 1.5rem;
}

.dollar-input + label {
  position: relative;
}

.dollar-input + label::after {
  content: '$';
  position: absolute;
  left: .5rem;
  top: -1.5rem;
}

.test-after {
  position: relative;
}

.test-after::after {
  content: '$';
  position: absolute;
  left: .5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 100%;
  color: #000;
}

/* ---------- Colors ---------- */

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary.slide-unit {
  color: #fff;
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary.slide-unit {
  color: #fff;
}

.bg-secondary.slide-unit a:not(.btn),
.bg-primary.slide-unit a:not(.btn) {
  color: #fff;
}

.bg-primary.slide-unit a:not(.btn):hover,
.bg-primary.slide-unit a:not(.btn):focus {
  color: var(--color-secondary);
}

.bg-secondary.slide-unit a:not(.btn):hover,
.bg-secondary.slide-unit a:not(.btn):focus {
  color: var(--color-primary-light);
}

.bg-fff {
  background-color: #fff;
}

.bg-lg,
.bg-lg-hov:hover
.bg-lg-hov:focus {
  background-color: var(--color-lg);
}

.bg-lg-lighter,
.bg-lg-lighter-hov:hover,
.bg-lg-lighter-hov:focus {
  background-color: var(--color-lg-lighter);
}

.bg-lg-lighter-hov {
  transition: background-color var(--transition-primary);
}

.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-fff {
  color: #fff;
}

/* ---------- Main > Header ---------- */

.hero {
  height: 95vh;
  max-height: 750px;
  display: flex;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  box-shadow: var(--shadow-primary);
  position: relative;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: -1;
}

.hero-news {
  max-height: 450px;
}

.header-basic {
  text-align: center;
  padding-top: 7.8rem;
}

.hours-block .stretch-rows {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.stretch-rows .row {
  display: flex;
}

.stretch-rows .row .stretch {
  flex-grow: 2;
}

.hours-block .logo-wrap {
  align-items: flex-start;
}

.hours-block .logo {
  width: 100%;
  max-width: 17em;
}

.media-flex {
  display: flex;
}

.media-flex-body {
  flex-grow: 2;
}

.to-top {
  display: none;
  background-color: rgba(153, 17, 32, .5);
  color: #fff;
  position: fixed;
  bottom: -4rem;
  right: 2rem;
  z-index: 10000;
  transition:
    bottom var(--transition-primary),
    background-color var(--transition-primary),
    opacity var(--transition-primary);
  border-radius: 7.5px 7.5px 0 0;
}

.to-top i {
  transform: rotate(-90deg);
}

.to-top span {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: var(--color-primary);
  text-align: center;
  opacity: 0;
  transition: opacity var(--transition-primary);
}

.to-top:hover span,
.to-top:focus span {
  opacity: 1;
}

.to-top.visible {
  bottom: 0;
}

.to-top:hover,
.to-top:focus,
.to-top:focus {
  background-color: var(--color-primary);
  color: #fff;
}

.anchor {
  position: relative;
  top: -3.590625rem;
}

.paypal-form input {
  width: 100%;
  max-width: 15rem;
  height: auto!important;
  background-color: transparent;
  border: 0;
}

.dropdown-title {
  color: var(--color-secondary-dark);
}

.dropdown-title .icon {
  transition: transform var(--transition-primary);
  color: var(--color-secondary)
}

.dropdown-title:hover .icon,
.dropdown-title.open .icon {
  transform: rotate(90deg);
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height var(--transition-primary);
}

.dropdown-content.open {
  max-height: 10rem;
}

.charitable-status-info h2 {
  margin-bottom: .65rem;
}

@media only screen and (min-width: 38em) {


  /* ---------- Main > Header ---------- */

  .header-basic {
    padding-top: 8.4rem;
  }

  .dollar-input + label::after {
    top: -1.65rem;
  }

  .to-top {
    display: inline-block;
  }

  .anchor {
    top: -4.1619318182rem;
  }

  .anchor-about {
    top: -7.6244318182rem;
  }

  .charitable-status-info h2 {
    margin-bottom: .7rem;
  }

}

@media only screen and (min-width: 60em) {

  /* ---------- Main > Header ---------- */

  .header-basic {
    padding-top: 9rem;
  }

  .dollar-input + label::after {
    top: -1.75rem;
  }


  .anchor-about {
    top: -8.1rem;
  }

  .charitable-status-info h2 {
    margin-bottom: .75rem;
  }

}
