.masthead {
  position: fixed;
  width: 100%;
  transition:
    background-color var(--transition-primary),
    box-shadow var(--transition-primary);
  z-index: 1000000;
  top: 0;
  left: 0;
}

.masthead.sticky {
  background-color: #fff;
  box-shadow: var(--shadow-primary);
}

.nav .logo {
  width: 10rem;
  vertical-align: middle;
  display: inline-block;
  z-index: 10000;
  position: relative;
  transition: color var(--transition-primary);
}

.nav-light-items .logo {
  color: #fff;
}

.nav-light-items .logo:hover,
.nav-light-items .logo-wrap:focus .logo {
  color: var(--color-primary);
}

.sticky.nav-light-items .logo {
  color: var(--color-primary);
}

.sticky.nav-light-items .logo:hover,
.sticky.nav-light-items .logo-wrap:focus .logo {
  color: var(--color-primary-light);
}

.nav .nav-items a:not(.btn) {
  color: #fff;
  text-decoration: none;
  padding: 1.3rem;
  transition:
    color var(--transition-primary),
    background-color var(--transition-primary);
}

.line-hover {
  position: relative;
}

.line-hover::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  left: 50%;
  bottom: -.25rem;
  transform: translateX(-50%);
  transition:
    width var(--transition-primary);
}

.line-hover-left::after {
  left: 0;
  transform: translateX(0);
}

.line-hover-right::after {
  left: auto;
  right: 0;
  transform: translateX(0);
}

.line-hover:focus::after,
.line-hover:hover::after {
  width: 100%;
}

.about-subnav-bar a.current::after,
.about-subnav-bar .line-hover::after,
.nav .line-hover::after {
  bottom: .25rem;
  display: none;
}

.nav .current::after,
.nav .line-hover:hover::after,
.nav .line-hover:focus::after,
.about-subnav-bar a.current::after,
.about-subnav-bar .line-hover:focus::after,
.about-subnav-bar .line-hover:hover::after {
  width: calc(100% - 2.6rem);
}

.subnav-icon {
  display: none;
}

nav .logo {
  max-height: 2.15rem;
}

@media only screen and (max-width: 37.999em) {

  .nav .nav-items {
    position: fixed;
    width: 100%;
    top: 0;
    height: 0;
    left: 0;
    background-color: var(--color-secondary);
    font-size: 1.2148rem;
    line-height: 1.625rem;
    text-align: center;
    overflow: hidden;
    transition:
      height var(--transition-primary),
      padding-top var(--transition-primary);
  }

  .masthead.sticky {
    background-color: #fff;
  }

  .open .nav-items {
    height: 100vh;
    padding-top: 3.590625rem;
  }

  .nav .nav-items > li:first-child {
    padding-top: 1.3rem;
  }

  .nav .nav-items > li:last-child {
    padding: 1.3rem 1.3rem 2.6rem;
  }

  .nav .nav-items a:not(.btn) {
    color: #fff;
  }

  .subnav-icon:hover + a,
  .subnav-icon:focus + a,
  .nav .nav-items a:not(.btn):hover,
  .nav .nav-items a:not(.btn):focus {
    background-color: var(--color-primary);
  }

  .nav .nav-items .btn {
    padding: .5em 2em .65em;

  }

  .nav .nav-items .btn:hover,
  .nav .nav-items .btn:focus {
    background-color: #fff;
    border-color: #fff;
    color: var(--color-secondary);
  }

  /* ---------- SubNav ---------- */

  .subnav-wrap {
    position: relative;
  }

  .subnav {
    max-height: 0;
    overflow: hidden;
    transition:
      max-height var(--transition-primary);
  }

  .subnav.open {
    max-height: 255px;
  }

  .nav .nav-items .subnav a:not(.btn) {
    padding: 1.3rem;
    display: block;
    background-color: var(--color-primary);
    color: #fff;
    border-top: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
  }

  .nav .nav-items .subnav li:first-child a:not(.btn) {
    border-top: 2px solid var(--color-secondary);
  }

  .nav .nav-items .subnav a:not(.btn):hover,
  .nav .nav-items .subnav a:not(.btn):focus {
    background-color: var(--color-secondary);
    border-color: var(--color-primary);
  }

  .subnav-icon {
    position: absolute;
    right: 50%;
    transform: translatex(320%) rotate(90deg);
    top: 1.3rem;
    padding: 0!important;
    z-index: 1;
    display: inline-block;
  }

  .subnav-icon:hover,
  .subnav-icon:focus {
    background-color: transparent!important;
  }

}

@media only screen and (min-width: 38em) {

  .home-link {
    display: none!important;
  }

  .nav .nav-items a:not(.btn),
  .sticky .nav .nav-items a:not(.btn),
  .sticky.nav-light-items .nav .nav-items a:not(.btn) {
    color: var(--color-secondary);
  }

  .nav-light-items .nav .nav-items a:not(.btn) {
    color: #fff;
  }

  .nav .nav-items > li {
    display: inline-block;
  }

  .nav .nav-items a:not(.btn) {
    padding: .7rem;
  }

  .nav .nav-items > li:last-child {
    padding: 0 0 0 .7rem;
  }

  .nav {
    text-align: left;
  }

  .nav .nav-items {
    text-align: right;
  }

  .nav > ul {
    display: flex;
    align-items: center;
  }

  .nav > ul > li:last-child {
    flex-grow: 2;
  }

  .about-subnav-bar a.current::after,
  .about-subnav-bar .line-hover::after,
  .nav .line-hover::after {
    display: block;
  }

  .about-subnav-bar a.current::after,
  .about-subnav-bar .line-hover:focus::after,
  .about-subnav-bar .line-hover:hover::after,
  .subnav:hover ~ .line-hover::after,
  .nav .current::after,
  .nav .line-hover:focus::after,
  .nav .line-hover:hover::after {
    width: calc(100% - 1.4rem);
    background-color: var(--color-primary);
  }

  /* ---------- SubNav ---------- */

  .subnav-label:hover + .subnav ol,
  .subnav-label:focus + .subnav ol,
  .subnav:hover ol,
  .subnav:focus ol,
  .subnav.open ol {
    max-height: 160px;
  }

  .subnav {
    position: absolute;
    text-align: left;
    top: 3.4619318182rem;
    padding-top: .7rem;
  }

  .subnav ol {
    max-height: 0;
    overflow: hidden;
    box-shadow: var(--shadow-primary);
    background-color: #fff;
    transition:
      max-height var(--transition-primary);
  }

  .subnav li:first-child {
    border-top: 2px solid var(--color-primary);
  }

  .nav .nav-items .subnav a:not(.btn) {
    color: var(--color-secondary);
    display: block;
    padding: .35rem .7rem;
  }

  .nav .nav-items .subnav a:not(.btn):hover,
  .nav .nav-items .subnav a:not(.btn):focus {
    background-color: var(--color-primary);
    color: #fff;
  }

  /* ---------- SubNavBar ---------- */

  .about-subnav-bar {
    background-color: var(--color-lg);
  }

  .about-subnav-bar .line-hover,
  .about-subnav-bar .line-hover:hover {
    color: var(--color-secondary);
  }

  .about-subnav-bar.sticky {
    text-align: right;
    position: fixed;
    width: 100%;
    left: 0;
    top: 4.16rem;
    z-index: 10;
    box-shadow: var(--shadow-primary);
  }

  .masthead.sticky.no-shadow {
    box-shadow: none;
  }

  @media only screen and (max-width: 53em) {

    .nav .logo {
      width: 7.5rem;
    }

    .nav .nav-items a {
      font-size: .8333rem;
      line-height: 1.4rem;
    }

  }


  @media only screen and (max-width: 45em) {

    .nav .nav-items a:not(.btn) {
      font-size: .75rem;
      padding-left: .35rem;
      padding-right: .35rem;
    }

    .nav .nav-items .btn {
      padding-left: 1em;
      padding-right: 1em;
    }

  }

}


@media only screen and (min-width: 60em) {

  .about-subnav-bar a.current::after,
  .about-subnav-bar .line-hover:focus::after,
  .about-subnav-bar .line-hover:hover::after,
  .subnav:hover ~ .line-hover::after,
  .nav .current::after,
  .nav .line-hover:focus::after,
  .nav .line-hover:hover::after {
    width: calc(100% - 1.5rem);
  }

  /* ---------- SubNav ---------- */

  .subnav-label:hover + .subnav ol,
  .subnav:hover ol {
    max-height: 160px;
  }

  .subnav {
    top: 3.625rem;
    padding-top: .75rem;
  }

  .nav .nav-items .subnav a:not(.btn) {
    padding: .375rem .75rem;
  }

  .about-subnav-bar.sticky {
    top: 4.3rem;
  }

}

@media only screen and (max-height: 38em) {

  .about-subnav-bar.sticky {
    text-align: center;
    position: static;
    width: 100%;
    left: auto;
    top: auto;
    z-index: auto;
    box-shadow: none;
  }

}
