---
layout: main
title: About
pageName: about
---
{% assign pages=site.data.pages.[page.pageName] %}
<div id="about-subnav-bar" class="about-subnav-bar [ xs-0 m-1 ] text-center">
  <div class="wrapper gutter">
    {% include about-subnav.html olClass='push-0 list-group-inline pad-t-1-4 pad-b-1-4' aClass="inline-block island-1-2 line-hover" %}
  </div>
</div>
<div id="history-hub" class="anchor anchor-about"></div>
<section tabindex="0">
  <div class="title-frame history-title bg-primary">
    <h2 class="yotta text-fff">History of the Hub</h2>
  </div>
  {% for slides in pages.history-slides.edit-history-slides %}
    <div id="slide-{{slides.name}}" class="slide {% if slides.reverse == true %}slide-reverse{% endif %}">
      <div class="slide-unit slide-content {{slides.slideBGColor}}">
        <div class="slide-content-wrap gutter pad-t-b-2">
          <div class="giga">{{slides.content | markdownify }}</div>
        </div>
      </div>
      <div class="slide-unit slide-img" style="background-image: url('{{site.baseurl}}{{slides.image}}')">
      </div>
    </div>
  {% endfor %}
</section>
<div id="our-services" class="anchor anchor-about"></div>
<section class="our-services" tabindex="0">
  <div class="bg-lg pad-t-b-2">
    <div class="wrapper pad-t-b-2">
      <h2 class="text-center gutter">Our Services</h2>
      <div class="grid grid-h-center island-1-2">
        {% for services in pages.our-services %}
          <a class="unit [ xs-1 m-1-2 l-1-3 ] island-1-2 unit-content-distribute smooth-scroll" href="#{{services.link}}">
            <div class="bg-fff gutter pad-t-b-2 unit-content-distribute content-fill bg-lg-lighter-hov">
              <div class="logo-wrap content-fill push">
                <img class="logo" src="{{site.baseurl}}{{services.logo}}" alt="">
              </div>
              <h3 class="text-secondary push-1-2">{{services.title}}</h3>
              <p class="push-0 text-secondary">{{services.shortDesc}}</p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% for serviceSlides in pages.our-services %}
    <div id="{{serviceSlides.link}}" class="slide {% if serviceSlides.reverse == true %}slide-reverse{% endif %}">
      <div class="slide-unit slide-content {{serviceSlides.slideBGColor}}">
        <div class="slide-content-wrap gutter pad-t-b-2">
          <h2>{{serviceSlides.title}}</h2>
          <div class="service-slide-content">
            {{serviceSlides.longDesc | markdownify}}
          </div>
        </div>
      </div>
      <div class="slide-unit slide-img" style="background-image: url('{{site.baseurl}}{{serviceSlides.bgImg}}')">
      </div>
    </div>
  {% endfor %}
</section>
<div id="what-we-give" class="anchor anchor-about"></div>
<section class="what-we-give" tabindex="0">
  <div class="slide slide-banner slide-reverse" style="background-image: url('{{site.baseurl}}{{pages.what-we-give.bannerImg}}');">
    <div class="hero-overlay"></div>
    <div class="slide-unit slide-content">
      <div class="slide-content-wrap gutter pad-t-b-2">
        {{pages.what-we-give.bannerText | markdownify }}
      </div>
    </div>
  </div>
  <div class="pad-t-b-2">
    <div class="wrapper">
      <h2 class="text-center gutter">{{pages.what-we-give.donationsTitle}}</h2>
      <p class="text-center gutter max-length">{{pages.what-we-give.donationsByline}}</p>
      <div class="grid island-1-2 donation-grid">
        <div class="unit [ xs-1 m-1-2 ] island-1-2">
          <div class="grid">
            <div class="unit [ xs-1-2 ] bold giga">
              <p class="push-0">Organization</p>
            </div>
            <div class="unit [ xs-1-2 ] bold giga text-right">
              <p class="push-0">Donation</p>
            </div>
          </div>
        </div>
        <div class="unit [ xs-0 m-1-2 ] island-1-2">
          <div class="grid">
            <div class="unit [ xs-1-2 ] bold giga">
              <p class="push-0">Organization</p>
            </div>
            <div class="unit [ xs-1-2 ] bold giga text-right">
              <p class="push-0">Donation</p>
            </div>
          </div>
        </div>
        {% for donations in site.data.donations %}
          <div class="unit [ xs-1 m-1-2 ] island-1-2">
            <div class="grid">
              <div class="unit [ xs-2-3 ]">
                <p class="push-0">{{donations.donor}}</p>
              </div>
              <div class="unit [ xs-1-3 ] bold text-right don-amount">
                <p class="push-0">{{donations.amount}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="donations-total gutter">
        <div class="grid pad-t-1-2 pad-b-1-2">
          <div class="unit [ xs-1 m-1-2 ] unit-push-m-1-2 pad-t-1-2 pad-b-1-2">
            <div class="grid">
              <div class="unit [ xs-1-2 ] bold giga">
                <p class="push-0 text-upper ">Grand Total</p>
              </div>
              <div class="unit [ xs-1-2 ] bold giga text-right">
                <p class="push-0">$57,504.83</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="board-of-directors" class="anchor anchor-about"></div>
<section tabindex="0">
  <div id="board-slide" class="slide slide-inverted slide-reverse board-slide">
    <div class="slide-unit slide-content bg-lg">
      <div class="slide-content-wrap gutter pad-t-b-2">
        <h2 class="push-1-2">Board of Directors</h2>
        <p>{{pages.board.boardAbout}}</p>
        <h3 class="push-1-2">{{pages.board.boardTitle}}</h3>
        {% for board in pages.board.boardMembers %}
          <div class="grid">
            <div class="unit [ xs-1-2 ] bold milli">
              <p class="push-0">{{board.position}}</p>
            </div>
            <div class="unit [ xs-1-2 ] milli text-right">
              <p class="push-0">{{board.member}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="slide-unit slide-img" style="background-image: url('{{site.baseurl}}/images/about/5th-anniv-group.jpg')">
    </div>
  </div>
</section>
