---
layout: main
pageClass: home
pageNumber: 0
---
<section id="announcements" class="announcements bg-lg pad-t-b" tabindex="0">
  <div class="grid grid-middle wrapper island-1-2">
    <div class="unit [ xs-1 m-2-3 ] unit-push-m-1-3 island-1-2">
      <div class="max-length">
        <h2 class="push-0">Enter to win this month's contest!</h2
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae rutrum eros, ac elementum nisl. Morbi ut rhoncus nisi. Phasellus aliquam nulla id placerat porta.</p>
        <a class="btn" href="#">Enter Now</a>
      </div>
    </div>
    <div class="unit [ xs-1 m-1-3 ] unit-pull-m-2-3 island-1-2">
      <div class="embed embed-4by3">
        <img class="embed-item" src="{{site.baseurl}}/images/contest-prev.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<section id="hours" class="hours pad-t-b-2" tabindex="0">
  <div class="wrapper">
    <h2 class='gutter push-0'>Store Hours & Locations</h2>
    <div class="grid grid-stretch island-1-2">
      {% for hours in site.data.store-hours %}
        <div class="unit [ xs-1 m-1-2 ] island-1-2 unit-content-distribute">
          {% include hours-block.html %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<section id="news-preview" class="news-preview pad-t-b-2 bg-lg" tabindex="0">
  {% include news-events-prev.html %}
</section>
