---
layout: main
pageClass: news-events
title: News & Events
pageName: news-events
---
{% assign pages=site.data.pages.[page.pageName] %}
<div class="wrapper">
  <div class="grid">
    <div class="unit [ xs-1 m-3-4 ] categories-wrap cat-all">
      <section class="events push">
        <h2 class="gutter">Upcoming Events</h2>
        {% for news in site.categories.events %}
        <a href="{{site.baseurl}}/{{news.url}}" class="grid grid-stretch bg-lg-hov island-1-2">
          <div class="unit [ xs-1 s-1-2 m-1-3 l-1-4 ] island-1-2">
            <div class="embed embed-1by1">
              <img class="embed-item" src="{{site.baseurl}}/images/news/{{news.prevImage}}" alt="">
            </div>
          </div>
          <div class="unit [ xs-1 s-1-2 m-2-3 l-3-4 ] island-1-2 unit-content-distribute">
            <h3 class="giga push-1-2 text-secondary">{{news.title}}</h3>
            <p class="content-fill text-secondary push-0">{{news.meta}}</p>
            <span class="hyperlink">Read more...</span>
          </div>
        </a>
        {% endfor %}
      </section>
      <div class="push gutter">
        <hr class="pad-t news-seperator">
      </div>
      <section class="news push-2">
        <h2 class="gutter">News</h2>
        {% for news in site.categories.news %}
        <a href="{{site.baseurl}}/{{news.url}}" class="grid grid-stretch bg-lg-hov island-1-2">
          <div class="unit [ xs-1 s-1-2 m-1-3 l-1-4 ] island-1-2">
            <div class="embed embed-1by1">
              <img class="embed-item" src="{{site.baseurl}}/images/news/{{news.prevImage}}" alt="">
            </div>
          </div>
          <div class="unit [ xs-1 s-1-2 m-2-3 l-3-4 ] island-1-2 unit-content-distribute">
            <h3 class="giga push-1-2 text-secondary">{{news.title}}</h3>
            <p class="content-fill text-secondary push-0">{{news.meta}}</p>
            <span class="hyperlink">Read more...</span>
          </div>
        </a>
        {% endfor %}
      </section>
      <div class="no-articles gutter">
        <h2>No articles to display...</h2>
        <p>Unfortunately there are no articles to display based on the categories selected. Please select a category to view articles.</p>
      </div>
    </div>
    <aside id="news-categories" class="unit [ xs-0 m-1-4 ] gutter news-categories relative">
      <div>
        <p class="bold peta font-alt">Categories</p>
        <ul class="list-group">
          {% for cats in site.data.blog-categories %}
            <li class="push-1-2">
              <input class="cat-selector" type="checkbox" id="{{cats.id}}" name="{{cats.name}}" {% if cats.checked == true %}checked{% endif %}>
              <label for="{{cats.id}}">{{cats.category}}</label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </aside>
  </div>
</div>
