<ol class="{{include.olClass}} {% if page.url contains 'about' %}smooth-scroll{% endif %} %}">
  <li>
    <a class="{{include.aClass}}" href="{{site.baseurl}}/about/#history-hub">History of The Hub</a>
  </li>
  <li>
    <a class="{{include.aClass}}" href="{{site.baseurl}}/about/#our-services">Our Services</a>
  </li>
  <li>
    <a class="{{include.aClass}}" href="{{site.baseurl}}/about/#what-we-give">What We Give</a>
  </li>
  <li>
    <a class="{{include.aClass}}" href="{{site.baseurl}}/about/#board-of-directors">Board of Directors</a>
  </li>
</ol>
