<ul class="{{include.ulClass}} contact-list">
  <li class="{{include.liClass}}">
    <strong class="{{include.titleSize}} font-alt">The Hub & Rebound</strong>
  </li>
  <li class="{{include.liClass}}">
    <a class="{{include.aClass}}" href="tel:{{site.data.site.tel}}">
      <span class="icon-label push-r-1-2">{{site.data.site.telDisplay}}</span>
      <i class="icon i-3-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#phone" /></svg>
      </i>
    </a>
  </li>
  <li class="{{include.liClass}}">
    <a class="{{include.aClass}}" href="mailto:info@thehubalmonte.com">
      <span class="icon-label push-r-1-2">info@thehubalmonte.com</span>
      <i class="icon i-3-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#email" /></svg>
      </i>
    </a>
  </li>
  <li class="{{include.liClass}}">
    <a class="{{include.aClass}} no-wrap" href="https://goo.gl/maps/2viaCeAw5n32" target="_blank">
      <address class="icon-label push-r-1-2">14 Industrial Dr, Almonte, ON K0A 1A0</address>
      <i class="icon i-3-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#location" /></svg>
      </i>
    </a>
  </li>
</ul>
