<ul class="{{include.ulClass}} contact-list">
  <li class="{{include.liClass}}">
    <strong class="{{include.titleSize}} font-alt">The Hub & Rebound</strong>
  </li>
  <li class="{{include.liClass}}">
    <a class="{{include.aClass}} inline-block" href="tel:{{site.data.site.tel}}">
      <span class="icon-label push-r-1-2">{{site.data.site.telDisplay}}</span>
      <i class="icon i-3-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#phone" /></svg>
      </i>
    </a>
  </li>
  <li class="{{include.liClass}}">
    <a class="{{include.aClass}} inline-block" href="mailto:{{site.data.site.email}}">
      <span class="icon-label push-r-1-2">{{site.data.site.email}}</span>
      <i class="icon i-3-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#email" /></svg>
      </i>
    </a>
  </li>
  <li class="{{include.liClass}}">
    <a class="{{include.aClass}} inline-block no-wrap" href="{{site.data.site.hubContact.mapLink}}" target="_blank">
      <address class="icon-label push-r-1-2">{{site.data.site.hubContact.addressLine1}}, {{site.data.site.hubContact.addressLine2}}</address>
      <i class="icon i-3-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#location" /></svg>
      </i>
    </a>
  </li>
</ul>
