<div class="hours-block island bg-lg">
  <div class="push">
    <img class="logo" src="{{hours.storeLogo}}" alt="">
  </div>
  <div class="push media-flex">
    <div>
      <i class=" media-flex-img icon i-1 push-r-1-4">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#location" /></svg>
      </i>
    </div>
    <address class="media-flex-body bold">
      <span class="no-wrap">{{hours.storeAddress1}},</span>
      <span class="no-wrap">{{hours.storeAddress2}}</span>
    </address>
  </div>
  <div class="stretch-rows pad-t-1-2">
    <div class="row">
      <p class="stretch bold push-1-2">Monday:</p>
      <time datetime="13:00-16:00">{% if hours.monOpen %}{{hours.monOpen}} - {% endif %}{{hours.monClose}}</time>
    </div>
    <div class="row">
      <p class="stretch bold push-1-2">Tuesday:</p>
      <time datetime="09:00-16:00">{% if hours.tuesOpen %}{{hours.tuesOpen}} - {% endif %}{{hours.tuesClose}}</time>
    </div>
    <div class="row">
      <p class="stretch bold push-1-2">Wednesday:</p>
      <time datetime="09:00-16:00">{% if hours.wedOpen %}{{hours.wedOpen}} - {% endif %}{{hours.wedClose}}</time>
    </div>
    <div class="row">
      <p class="stretch bold push-1-2">Thursday:</p>
      <time datetime="09:00-20:00">{% if hours.thursOpen %}{{hours.thursOpen}} - {% endif %}{{hours.thursClose}}</time>
    </div>
    <div class="row">
      <p class="stretch bold push-1-2">Friday:</p>
      <time datetime="09:00-16:00">{% if hours.friOpen %}{{hours.friOpen}} - {% endif %}{{hours.friClose}}</time>
    </div>
    <div class="row">
      <p class="stretch bold push-1-2">Saturday:</p>
      <time datetime="09:00-16:00">{% if hours.satOpen %}{{hours.satOpen}} - {% endif %}{{hours.satClose}}</time>
    </div>
    <div class="row">
      <p class="stretch bold push-1-2">Sunday:</p>
      <p class="push-1-2">{% if hours.sunOpen %}{{hours.sunOpen}} - {% endif %}{{hours.sunClose}}</p>
    </div>
  </div>
</div>
