<nav class="{{include.navClass}}">
  <ul class="{{include.ulClass}}">
    <li class="{{include.liClass}}">
      <a class="{{include.aLogo}}" href="{{site.baseurl}}/">
        <img class="logo" src="https://placehold.it/300x100" alt="">
      </a>
    </li>
    <li class="{{include.liClass}}">
      <ul class="{{include.ulInner}}">
        <li class="{{include.liInner}}">
          <a class="{{include.aInner}}" href="{{site.baseurl}}/">About</a>
        </li>
        <li class="{{include.liInner}}">
          <a class="{{include.aInner}}" href="{{site.baseurl}}/">Volunteer</a>
        </li>
        <li class="{{include.liInner}}">
          <a class="{{include.aInner}}" href="{{site.baseurl}}/">News & Events</a>
        </li>
        <li class="{{include.liInner}}">
          <a class="{{include.aBtn}} btn" href="{{site.baseurl}}/">Donate</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
