<nav class="{{include.navClass}}">
  <ul class="{{include.ulClass}}">
    <li class="{{include.liClass}}">
      <a class="{{include.aLogo}}" href="{{site.baseurl}}/">
        <img class="logo" src="https://placehold.it/300x100" alt="">
      </a>
    </li>
    <li class="{{include.liClass}}">
      <ul class="{{include.ulInner}}">
        <li class="{{include.liInner}}">
          <a class="{{include.aInner}}" href="{{site.baseurl}}/about/">About</a>
        </li>
        <li class="{{include.liInner}}">
          <a class="{{include.aInner}}" href="{{site.baseurl}}/volunteer/">Volunteer</a>
        </li>
        <li class="{{include.liInner}}">
          <a class="{{include.aInner}}" href="{{site.baseurl}}/news/">News & Events</a>
        </li>
        <li class="{{include.liInner}} {{include.liHours}}">
          <a class="{{include.aInner}}" href="{{site.baseurl}}/#hours">Store Hours</a>
        </li>
        <li class="{{include.liInner}} {{include.liBtn}}">
          <a class="{{include.aBtn}} btn" href="{{site.baseurl}}/donate/">Donate</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
