<div id="sponsor-bar" class="sponsor-bar text-center pad-t-b-2">
  <h2 class="max-length gutter">Our Sponsors</h2>
  <p class="max-length gutter">The Hub, Rebound, and all of the rest of our services would not be possible without the generous support from our sponsors:</p>
  <div class="grid grid-h-center grid-stretch island-1-2 wrapper">
    {% for sponsor in site.data.sponsor-list %}
    <div class="unit [ xs-1-2 m-1-3 ] island-1-2 unit-content-distribute">
      <div class="logo-wrap gutter push content-fill unit-content-center-vertical">
        <img class="img-flex" src="{{site.baseurl}}/images/sponsors/{{sponsor.logo}}" alt="{{sponsor-logoAlt}}">
      </div>
      <strong class="block {{include.sponsorClass}}">{{sponsor.title}}</strong>
    </div>
    {% endfor %}
  </div>
</div>
