.footer {
  background-color: var(--color-secondary);
  text-align: center;
  color: #fff;
}

.footer .logo {
  max-width: 10rem;
  width: 100%;
}

.footer li a:not(.btn) {
  color: #fff;
  text-decoration: none;
}

.footer li a:not(.btn):hover,
.footer li a:not(.btn):focus {
  color: var(--color-primary);
}

.footer .btn-white:hover,
.footer .btn-white:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-secondary);
}

address.icon-label {
  display: inline-block;
}

.footer .icon-list-wrap {
  text-align: center;
  background-color: #2f2f2f;
}

.icon-list li:last-child {
  margin: 0;
}

.footer-disclaimer {
  background-color: #222;
  color: #ddd;
  text-align: left;
}

.footer-disclaimer strong {
  color: #fff;
}

@media only screen and (max-width: 37.999em) {

  .footer li:not(.push-r),
  .footer .unit:first-child {
    margin-bottom: 1.3rem;
  }

  .footer .btn-wrap {
    margin-bottom: 2.6rem;
  }

  .footer .icon-list-title {
    display: none;
  }

}

@media only screen and (min-width: 38em) {

  .footer {
    text-align: left;
  }


  .footer .unit:last-child,
  .footer .icon-list-wrap {
    text-align: right;
  }

}
