.masthead {
  position: fixed;
  width: 100%;
  transition:
    background-color var(--transition-primary),
    box-shadow var(--transition-primary);
  z-index: 1000000;
}

.masthead.sticky {
  background-color: #fff;
  box-shadow: var(--shadow-primary);
}

.nav .logo {
  width: 10rem;
  vertical-align: middle;
}

.nav .nav-items a:not(.btn) {
  color: #fff;
  text-decoration: none;
  padding: 1.3rem;
  transition:
    color var(--transition-primary),
    background-color var(--transition-primary);
}

.sticky .nav .nav-items a:not(.btn) {
  color: var(--color-secondary);
}


.line-hover {
  position: relative;
}

.line-hover::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  left: 50%;
  bottom: -.25rem;
  transform: translateX(-50%);
  transition:
    width var(--transition-primary);
}

.line-hover-left::after {
  left: 0;
  transform: translateX(0);
}

.line-hover-right::after {
  left: auto;
  right: 0;
  transform: translateX(0);
}

.line-hover:hover::after {
  width: 100%;
}

.nav .line-hover::after {
  bottom: .25rem;
  display: none;
}

.nav .current::after,
.nav .line-hover:hover::after {
  width: calc(100% - 2.6rem);
}


@media only screen and (max-width: 37.999em) {

  .nav .nav-items {
    position: fixed;
    width: 100%;
    top: 4.881875rem;
    height: 0;
    left: 0;
    background-color: var(--color-secondary);
    font-size: 1.2148rem;
    line-height: 1.625rem;
    text-align: center;
    overflow: hidden;
    transition:
      height var(--transition-primary);
  }

  .open .nav-items {
    height: calc(100vh - 4.881875rem);
  }

  .nav .nav-items li:first-child {
    padding-top: 1.3rem;
  }

  .nav .nav-items li:last-child {
    padding: 1.3rem 1.3rem 2.6rem;
  }

  .nav .nav-items a:not(.btn) {
    color: var(--color-primary);
  }

  .nav .nav-items a:not(.btn):hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }

  .nav .nav-items .btn {
    padding: .5em 2em .65em;
    /* background-color:var(--color-secondary);
    border-color: var(--color-secondary); */
  }

  .nav .nav-items .btn:hover {
    background-color: #fff;
    border-color: #fff;
    color: var(--color-secondary);
  }

}

@media only screen and (min-width: 38em) {

  .nav .nav-items li {
    display: inline-block;
  }

  .nav .nav-items a:not(.btn) {
    padding: .7rem;
  }

  .nav .nav-items li:last-child {
    padding: 0 0 0 .7rem;
  }

  .nav {
    text-align: left;
  }

  .nav .nav-items {
    text-align: right;
  }

  .nav > ul {
    display: flex;
    align-items: center;
  }

  .nav > ul > li:last-child {
    flex-grow: 2;
  }

  .nav .line-hover::after {
    display: block;
  }

  .nav .line-hover:hover::after {
    width: calc(100% - 1.4rem);
    background-color: var(--color-primary);
  }

  @media only screen and (max-width: 45em) {

    .nav .logo {
      width: 7.5rem;
    }

    .nav .nav-items a {
      font-size: .8333rem;
      line-height: 1.4rem;
    }

  }

}


@media only screen and (min-width: 60em) {

  /* .nav .logo {
    width: 12.5rem;
  } */

  .nav .line-hover:hover::after {
    width: calc(100% - 1.5rem);
  }

}
