.categories-wrap .news,
.categories-wrap .events{
  display: none;
}
.categories-wrap.cat-all .news,
.categories-wrap.cat-all .events{
  display: block;
}

.categories-wrap.cat-news .news,
.categories-wrap.cat-events .events {
  display: block
}

.categories-wrap.cat-news .divider,
.categories-wrap.cat-events .divider {
  display: none;
}

.categories-wrap.cat-events.cat-news .divider {
  display: block;
}

.categories-wrap.cat-all .no-articles,
.categories-wrap.cat-news .no-articles,
.categories-wrap.cat-events .no-articles {
  display: none;
}

.no-articles {
  padding-bottom: 7.5rem;
}

.news-img-wrap-float {
  float: left;
  margin: 0
}

.news-events-prev .embed {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 38em) {

  .news-view-all {
    text-align: right;
  }

  .news-categories.sticky div {
    position: fixed;
    top: 5rem;
  }

}
