<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}The Hub Almonte</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <!-- Geotagging -->
  <meta name="ICBM" content="45.2256,-76.1941">
  <meta name="geo.position" content="45.2256;-76.1941">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Almonte">
  <!-- Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="{% if page.title %}{{page.title}} · {% endif %}The Hub Almonte">
  <meta property="og:url" content="https://thehubalmonte.com">
  <meta property="og:image" content="https://thehubalmonte.com/images/news/reno-front.jpg">
  <meta property="og:site_name" content="Adam Robillard">
  <meta property="og:description" content="{% if page.layout == 'main' %}{{site.data.pages.[page.pageName].metaDesc}}{% else %}{{page.meta}}{% endif %}">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}} · {% endif %}The Hub Almonte">
  <meta name="twitter:url" content="https://thehubalmonte.com">
  <meta name="twitter:description" content="{% if page.layout == 'main' %}{{site.data.pages.[page.pageName].metaDesc}}{% else %}{{page.meta}}{% endif %}">
  <meta name="twitter:image" content="https://thehubalmonte.com/images/news/reno-front.jpg">
  <!-- CSS -->
  <link href="{{site.baseurl}}/css/main.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/xqk1pkz.css">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico"/>
</head>
<!--[if gte IE 7]>
    <style>
      h1 {
        color: green!important;
      }
    </style>
<![endif]-->
<body class="{{page.pageClass}}">
  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a class="skip-to-nav" href="#nav">Jump to navigation</a></li>
  </ul>
  {{content}}
  <script type="application/jd+json">
    {
      "@context": "https://schema.org",
      "@id": "#thehubalmonte",
      "@type": "Organization",
      "legalname": "Almonte Community Co-ordinators",
      "areaServed": "Mississippi Mills",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "14 Industrial Dr.",
        "addressLocality": "Almonte",
        "addressRegion": "ON",
        "addressCountry": "CA",
        "postalCode": "K0A 1A0"
      },
      "email": "info@thehubalmonte.com",
      "tel": "+16132565225",
      "website": "http://thehubalmonte.com/"
      "sameAs": [
        "https://www.facebook.com/TheHubAlmonte/"
      ]
    }
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>
  {% if page.url contains 'news' %}
    <script src="{{site.baseurl}}/js/news.js"></script>
  {% endif %}
  {% if page.url contains 'about' %}
    <script src="{{site.baseurl}}/js/about.js"></script>
  {% endif %}
</body>
</html>
