---
layout: default
---
{% assign pages=site.data.pages.[page.pageName] %}
<header class="masthead sticky gutter {% if pages.hero == true %}nav-light-items{% endif %}{% if page.heroImage %}nav-light-items{% endif %}">
  {% include nav.html navClass='nav wrapper pad-t-1-2 pad-b-1-2' ulClass='list-group push-0' ulInner='nav-items list-group push-0' aLogo='inline-block' aInner='block line-hover' liHours='hidden' %}
  <a class="tog-nav m-0" href="#nav-footer">
    <span class="tog tog-top"></span>
    <span class="tog tog-middle"></span>
    <span class="tog tog-bottom"></span>
  </a>
</header>
<main id="main" tabindex="0">
    {% if pages.hero == true %}
      {% include hero.html %}
    {% elsif pages.hero == false %}
      <header class="header-basic pad-b-2">
        <div class="max-length gutter">
          <h1 class="">{{pages.h1Text}}</h1>
          {% if pages.bylineText %}
            <p class="byline mega">{{pages.bylineText}}</p>
          {% endif %}
        </div>
      </header>
      {% if page.url contains 'donate' %}
        <div class="gutter max-length pad-b"><hr class="push-2" style="border-color: var(--color-primary);"></div>
      {% endif %}
    {% endif %}
    {{content}}
    {% if pages.sponsorBar == true %}
      {% include sponsor-bar.html sponsorClass='hidden' %}
    {% endif %}
    <a class="to-top visible island-1-2" href="#main">
      <i class="icon i-1-1-2">
        <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
      </i>
    </a>
</main>
<footer class="footer pad-t">
  <div class="grid grid-bottom wrapper island-1-2 push">
    <div class="unit [ xs-1 m-1-2 ] island-1-2">
      {% include nav.html ulClass='list-group push-0 milli' aLogo='inline-block push-1-2' liInner='push-1-4' ulInner='list-group push-0' liBtn='hidden' aInner='' %}
    </div>
    <div class="unit [ xs-1 m-1-2 ] island-1-2">
      <div class="btn-wrap push-1-2">
        <a class="btn mega" href="#">Donate</a>
      </div>
      {% include contact-info.html ulClass='list-group push-0 milli' liClass='push-1-4' titleSize='mega' aClass='' %}
    </div>
  </div>
  <div class="icon-list-wrap">
    {% include social-media-list.html ulClass='push-0 wrapper island'%}
    </div>
  <div class="footer-disclaimer pad-t-b-2">
    {% include charitable-status.html wrapClass='wrapper gutter' titleClass='bold mega push-1-2' pClass="push-0" %}
  </div>
</footer>
