---
layout: main
---
<header class="hero hero-news push-2" style="background-image: url('{{site.baseurl}}{{page.banImage}}')">
  <div class="hero-overlay"></div>
  <div class="wrapper gutter">
    <h1>{{page.title}}</h1>
  </div>
</header>
<div class="pad-b-2">
  <div class="max-length gutter">
    {% if page.category == 'events' %}
      <div class="stretch-rows giga push">
        <div class="row push-1-2">
          <strong class="push-r-1-2">Date:</strong>
          <span class="stretch">{{page.eventDate}}</span>
        </div>
        <div class="row push-1-2">
          <strong class="push-r-1-2">Time:</strong>
          <span class="stretch">{{page.eventTime}}</span>
        </div>
        <div class="row">
          <strong class="push-r-1-2">Location:</strong>
          <a class="stretch" href="{{page.eventLocationLink}}" target="_blank">{{page.eventLocation}}</a>
        </div>
      </div>
    <h2>Event Details:</h2>
    {% endif %}
    {{content}}
  </div>
</div>
<div id="news-preview" class="anchor"></div>
<section class="news-preview pad-t-b-2 bg-lg" tabindex="0">
  {% include news-events-prev.html %}
</section>
