---
layout: main
---
{% if page.heroImage %}
  {% include hero-news.html heroClass='page.heroClass' %}
{% else %}
  <header class="header-basic">
    <div class="max-length gutter">
      <h1 class="">{{page.title}}</h1>
      {% if page.byline %}
        <p class="byline mega">{{page.byline}}</p>
      {% endif %}
    </div>
  </header>
{% endif %}
<div class="pad-b-2">
  <div class="max-length gutter">
    <h2 class="text-center">{{page.byline}}</h2>
    {{content}}
  </div>
</div>
<div id="news-preview" class="anchor"></div>
<section class="news-preview pad-t-b-2 bg-lg" tabindex="0">
  {% include news-events-prev.html %}
</section>
