---
layout: main
---
{% if page.banner == true %}
<header class="hero hero-news push-2" style="background-image: url('{{site.baseurl}}{{page.banImage}}')">
  <div class="hero-overlay"></div>
  <div class="wrapper gutter">
    <h1>{{page.title}}</h1>
  </div>
</header>
{% else %}
  <header class="pad-t-2 pad-b-2">
    <h1 class="wrapper text-center pad-t-2">{{page.title}}</h1>
  </header>
{% endif %}
<div class="pad-b-2">
  <div class="max-length gutter">
    {% if page.category == 'events' %}
      <h2>Event Description:</h2>
      <div class="stretch-rows giga push-2">
        <div class="row push-1-2">
          <strong class="push-r-1-2">Date:</strong>
          <p class="stretch push-0">{{page.eventDate}}</p>
        </div>
        <div class="row push-1-2">
          <strong class="push-r-1-2">Time:</strong>
          <p class="stretch push-0">{{page.eventTime}}</p>
        </div>
        <div class="row push-1-2">
          <strong class="push-r-1-2">Location:</strong>
          {% if page.eventLocationLink %}
            <p class="stretch push-0"><a href="{{page.eventLocationLink}}" target="_blank">{{page.eventLocation}}</a></p>
          {% else %}
            <p class="stretch push-0">{{page.eventLocation}}</p>
          {% endif %}
        </div>
        {% if page.ticketLink %}
          <div class="row">
            <strong class="push-r-1-2">Tickets:</strong>
            <p class="stretch push-0"><a class="stretch" href="{{page.ticketLink}}" target="_blank">{{page.ticketLinkText}}</a></p>
          </div>
        {% endif %}
      </div>
      <h2>Event Description:</h2>
    {% endif %}
    {{content}}
  </div>
</div>
<div id="news-preview" class="anchor"></div>
<section class="news-preview pad-t-b-2 bg-lg" tabindex="0">
  {% include news-events-prev.html %}
</section>
